
.icon-flight:before { content: '\e800'; } /* '' */
.icon-leaf:before { content: '\e801'; } /* '' */
.icon-fighter-jet:before { content: '\f0fb'; } /* '' */
.icon-space-shuttle:before { content: '\f197'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
